:root {
  --font-basic: "Montserrat", sans-serif;
  --font-heading: "Alex Brush", cursive;
  --bg-color: #eae6df;
  --text-color: #2d2d2b;
  --active-link-color: #a55050;
  --dark-btn-bg-color: rgba(45, 45, 43, 0.7);
  --dark-btn-text-color: #d49090;
}

* {
  box-sizing: border-box;
  font-family: var(--font-basic);
  color: var(--text-color);
}

body {
  background-color: #f1f1f1;
}

.text-bold {
  font-weight: 700;
}

/* MAIN SECTION */

#profile-img {
  max-width: 200px;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 60px;
}

.main {
  padding: 160px 20px 100px;
  text-align: center;
  background-color: var(--bg-color);
}

h1 {
  font-family: var(--font-heading);
  font-size: 76px;
  margin-bottom: -10px;
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

h3 {
  font-size: 46px;
  font-weight: 300;
}

.btn-main {
  margin: 20px auto;
  background-color: var(--dark-btn-bg-color);
  color: var(--dark-btn-text-color);
  border: none;
  font-size: 20px;
  padding: 14px 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-main:hover {
  color: var(--text-color);
  background-color: var(--dark-btn-text-color);
  transition: ease-in-out 0.3s;
}

/* PROJECT SECTION */
.container {
  padding: 3rem;
}

#heading {
  font-size: 26px;
  font-weight: 400;
}

.project-description h2 {
  font-family: var(--font-heading);
  font-size: 64px;
}

.project-img {
  width: 80%;
}

.project-description p {
  text-align: justify;
  width: 80%;
}

.btn-project:hover {
  background-color: var(--bg-color);
  transition: ease-in-out 0.3s;
}

/* MEDIA QUIERIES */

@media (max-width: 990px) {
  #profile-img {
    width: 20%;
  }

  .main {
    padding: 60px 20px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 30px;
  }

  #heading {
    font-size: 22px;
  }

  .container {
    padding: 0;
  }

  .project-description {
    text-align: center;
    padding: 0;
  }

  .project-description h2 {
    font-size: 44px;
  }

  .project-description p {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #profile-img {
    display: none;
  }
  #heading {
    font-size: 18px;
  }
  .container {
    padding: 0 40px;
  }
}
