:root {
  --font-basic: "Montserrat", sans-serif;
  --font-heading: "Alex Brush", cursive;
  --bg-color: #f5f5f5;
  --bg-container-color: #eae6df;
  --text-color: #2d2d2b;
  --active-link-color: #a55050;
  --dark-btn-bg-color: rgba(45, 45, 43, 0.7);
  --dark-btn-text-color: #d49090;
}

* {
  box-sizing: border-box;
  font-family: var(--font-basic);
  color: var(--text-color);
}

body {
  background-color: var(--bg-color);
}

.text-bold {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #0a58ca;
}

a:hover {
  color: var(--active-link-color);
}

/* NAVIGATION */

#nav-logo {
  color: var(--text-color);
  font-family: var(--font-heading);
  font-size: 28px;

  text-decoration: none;
}

nav {
  padding: 20px 0 0;
}

nav ul {
  padding: 0 30px 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 10px;
}

nav a {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
}

.active {
  text-decoration: none;
  color: var(--active-link-color);
  border-bottom: 1px solid var(--active-link-color);
}

/* MAIN SECTION */

#profile-img {
  max-width: 200px;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 60px;
}

.main {
  padding: 80px 20px;
  text-align: center;
  background-color: var(--bg-container-color);
}

h1 {
  font-family: var(--font-heading);
  font-size: 76px;
  margin-bottom: -10px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
}

h3 {
  font-size: 46px;
  font-weight: 300;
}

.btn-main {
  margin: 20px auto;
  background-color: var(--dark-btn-bg-color);
  color: var(--dark-btn-text-color);
  border: none;
  font-size: 20px;
  padding: 14px 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-main:hover {
  color: var(--text-color);
  background-color: var(--dark-btn-text-color);
  transition: ease-in-out 0.3s;
}

/* PROJECT SECTION */

#heading {
  font-size: 26px;
  font-weight: 400;
}

.container-project {
  padding-bottom: 60px;
}

.project-description h2 {
  font-family: var(--font-heading);
  font-size: 64px;
}

.project-img {
  width: 80%;
  background-color: var(--bg-color);
}

.project-description p {
  text-align: justify;
  width: 80%;
}

.btn-project:hover {
  background-color: var(--bg-container-color);
  transition: all ease-in-out 150ms;
}

/* ABOUT PAGE */

.content-section {
  margin: 80px auto;
}

.content-section img {
  width: 80%;
  background-color: var(--bg-color);
}

.content-section p {
  padding-right: 20px;
}

.skills i {
  color: var(--active-link-color);
  font-size: 40px;
  padding: 5px;
}

/* WORK PAGE */

.work-section h1 {
  font-size: 56px;
  text-align: center;
  margin-bottom: 60px;
}
.work-section .col-md-6 {
  text-align: center;
  margin-bottom: 50px;
}

.work-section h3 {
  margin: 30px 0 0;
  font-size: 24px;
  font-weight: 500;
}

.work-section p {
  font-size: 16px;
  margin: 0 60px;
  text-align: center;
}

.work {
  transition: transform 0.2s;
  height: 300px;
}

.work:hover {
  transform: scale(1.1);
}

/* CONTACT PAGE */

.content {
  text-align: center;
}

/* FOOTER PAGE */

.contact-box {
  background-color: var(--bg-container-color);
  padding: 30px 120px;
  border-radius: 10px;
  max-width: 90%;
  margin: 0 auto;
}

.contact-box .btn-main {
  margin: 0;
}

.contact-box h4 {
  font-size: 48px;
  font-family: var(--font-heading);
}

.contact-box p {
  margin: 0;
  font-size: 18px;
  max-width: 80%;
}

.email-link {
  font-size: 24px;
  text-align: center;
  display: block;
  color: var(--text-color);
  padding: 40px 0;
}

.social-links {
  text-align: center;
  margin-bottom: 30px;
}

.social-links i {
  color: var(--active-link-color);
  background-color: var(--bg-container-color);
  margin: 0 30px;
  padding: 10px;
  font-size: 22px;
  border-radius: 10px;
  transition: all ease-in-out 150ms;
}

.social-links i:hover {
  color: var(--dark-btn-text-color);
}

/* MEDIA QUIERIES */

@media (max-width: 990px) {
  #profile-img {
    width: 20%;
  }

  .main {
    padding: 60px 20px;
  }

  h1,
  .work-section h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 30px;
  }

  #heading {
    font-size: 22px;
  }

  .container {
    padding: 0;
  }

  .project-description,
  .content-section {
    text-align: center;
    padding: 20px;
  }

  .project-description h2 {
    font-size: 44px;
  }

  .project-description p {
    width: 100%;
  }
  .content-section img {
    margin-top: 40px;
  }

  .work {
    height: 200px;
  }
}

@media (max-width: 500px) {
  #nav-logo {
    display: none;
  }

  #profile-img {
    display: none;
  }
  #heading {
    font-size: 18px;
  }

  nav ul {
    margin: 0 auto;
    padding: 0;
  }
  nav li {
    margin-left: 5px;
  }

  nav a {
    font-size: 14px;
  }

  .work {
    height: 250px;
  }

  .contact-box {
    padding: 30px;
  }

  .contact-box h4 {
    font-size: 26px;
  }

  .contact-box p {
    font-size: 14px;
  }

  .contact-box .btn-main {
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 5px;
  }

  .email-link {
    font-size: 18px;
  }

  .social-links {
    font-size: 16px;
  }

  .social-links i {
    padding: 0 0 10px;
    background-color: transparent;
  }
}
